<!-- views/error.ejs -->
<!doctype html>
<html>
<head><title>Lỗi</title></head>
  <link rel="icon" type="image/x-icon" href="/image/logo/favicon.png">

<body>
  <h1>Lỗi!</h1>
  <p><%= message %></p>
  <a href="/">Quay về trang chủ</a>
</body>
</html>